// colors
$black: #000;
$white: #fff;
$red: #f44;
$blue: #38f;
$orange: #f60;
$green: #06bf04;
$gray: #c9c9c9;
$gray-light: #e5e5e5;
$gray-darker: #666;
$gray-dark: #999;

$primary: #257ae3;
$active-color: #e8e8e8;

// z-index
$zindex-dropdown: 900;
$zindex-modal: 1000;
$zindex-message: 1010;
$zindex-tooltip: 1060;
$zindex-loading-bar: 2000;
