// colors
$black: #000;
$white: #fff;
$red: #f44;
$blue: #38f;
$orange: #f60;
$green: #06bf04;
$gray: #c9c9c9;
$gray-light: #e5e5e5;
$gray-darker: #666;
$gray-dark: #999;

$primary: #ff4c4c;
$active-color: #e8e8e8;

// z-index
$zindex-dropdown: 900;
$zindex-modal: 1000;
$zindex-message: 1010;
$zindex-tooltip: 1060;
$zindex-loading-bar: 2000;

//
$bg-right: linear-gradient(to right, #ff4c4c, #ff7559);
$bg-left: linear-gradient(to left, #ff4c4c, #ff7559);
$bg-color: #f5f6fa;

$bs: 0 8px 20px rgba(0, 25, 76, 0.1);

$border-color: #c6c7cc;

$gray-color: #919399;
$title-color: #303133;
